body{
    background-color:rgb(237,237,255);
}
h1{
    color: rgb(92, 92, 243);
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}
#dominoes-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#dominoes-list li {
    list-style-type: none;
    font-size: 6rem;
    color: black;
}
#dominoes-list li:hover{
    font-size: 7rem;

}
#dominoes-list .selected{
    color:rgb(255,255,161);
    filter: drop-shadow(0 0 0.75rem rgb(255,255,161));

}
.deleted {
    display: none; 
}
.hidden {
    visibility: hidden; 
}